@import "partials/_normalize";
@import "partials/_variables";
@import "partials/_header";
@import "partials/_nav";
@import "partials/_content";
@import "partials/_footer";

body{
     overflow-x: hidden;
}
h1,h2{
      font-family: 'Kaushan Script', cursive;
      }
p{
  font-family: 'Open Sans', sans-serif;
 }

@import "partials/_MediaQ";
