.footer{
        background: black;
        color: $blue;
        padding: 10px 0 5% 0;

        p{
          padding: 10px 0 5px 0;
        }
       .button{
              font-family: 'Kaushan Script', cursive;
              background: $blue;
              border-radius: 25%;
              padding: 10px;
              position: relative;
              top: 10px;
              outline: none;
              font-size: 20px;
       }
       .btnTwo{
               position: relative;
               left: 20px;
               }
      
}
